# Place in /etc/systemd/system and enable for better
# sshuttle stability on laptop resume.
[Unit]
# By killing sshuttle we let systemd trigger a restart
Description=Kill sshuttle on resume

[Service]
Type=oneshot
ExecStart=-/usr/bin/pkill sshuttle
TimeoutSec=0

[Install]
WantedBy=suspend.target

