Urxvt*termName:             screen-256color

! -*- Define colors -*-
*foreground:  #D8DEE9
*background: #2E3440
*lighterbg: #434C5E
*seperator: #434C5E
*fading: 35
*fadeColor: #4C566A
*cursorColor:  #D8DEE9
*color0: #2E3440
*color1: #3B4252
*color2: #434C5E
*color3: #4C566A
*color4: #D8DEE9
*color5: #E5E9F0
*color6: #ECEFF4
*color7: #8FBCBB
*color8: #88C0D0
*color9: #81A1C1
*color10: #5E81AC
*color11: #BF616A
*color12: #D08770
*color13: #EBCB8B
*color14: #A3BE8C
*color15: #B48EAD

! -*- Basic settings -*-
URxvt.loginShell:           true
URxvt*scrollBar:            false
URxvt*scrollWithBuffer:     false
URxvt*colorUL:              nord13
URxvt*secondaryScreen:      1
URxvt*secondaryScroll:      0
URxvt*scrollTtyKeypress:    true
URxvt.iso14755:             false
URxvt.iso14755_52:          false
URxvt.saveLines:            2000
URxvt.fading:               0
URxvt.internalBorder:       10
Xcursor.size:               8

! -*- Font rendering -*-
URxvt.font:                 xft:Hack:medium:size=12
URxvt.letterSpace:          -1
!Xft.dpi:                   131
Xft.lcdfilter:              lcddefault
Xft.hintstyle:              hintslight
Xft.hinting:                1
Xft.antialias:              1
Xft.rgba:                   rgb

!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,clipboard,matcher,keyboard-select,tabbedex
! Mouse selection
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.keysym.M-Escape:perl:keyboard-select:activate
! Support url links
URxvt.url-launcher:   /usr/bin/firefox-developer-edition
URxvt.underlineURLs:  true
URxvt.matcher.button: 1
! Fix copy paste commands
URxvt.keysym.Control-Shift-V:     perl:clipboard:paste
URxvt.keysym.Control-Shift-C:     perl:clipboard:copy
! Add terminal tabs
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Control-Shift-T: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab
URxvt.tabbed.autohide: true
