Urxvt*termName:             screen-256color

! -*- Define colors -*-
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! -*- Basic settings -*-
URxvt.loginShell:           true
URxvt*scrollBar:            false
URxvt*scrollWithBuffer:     false
URxvt*colorUL:              nord13
URxvt*secondaryScreen:      1
URxvt*secondaryScroll:      0
URxvt*scrollTtyKeypress:    true
URxvt.iso14755:             false
URxvt.iso14755_52:          false
URxvt.saveLines:            2000
URxvt.fading:               0
URxvt.internalBorder:       10
Xcursor.size:               8

! -*- Font rendering -*-
URxvt.font:                 xft:Hack:medium:size=12
URxvt.letterSpace:          -1
!Xft.dpi:                   131
Xft.lcdfilter:              lcddefault
Xft.hintstyle:              hintslight
Xft.hinting:                1
Xft.antialias:              1
Xft.rgba:                   rgb

!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,clipboard,matcher,keyboard-select,tabbedex
! Mouse selection
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.keysym.M-Escape:perl:keyboard-select:activate
! Support url links
URxvt.url-launcher:   /usr/bin/firefox-developer-edition
URxvt.underlineURLs:  true
URxvt.matcher.button: 1
! Fix copy paste commands
URxvt.keysym.Control-Shift-V:     perl:clipboard:paste
URxvt.keysym.Control-Shift-C:     perl:clipboard:copy
! Add terminal tabs
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Control-Shift-T: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab
URxvt.tabbed.autohide: true
